/* PCスマホ共通 */

body {
  padding: 0px;  
}

main {
  background-image: url(../images/background.png);
  width: 1200px;
  margin: 0 auto;
}

h1 {  
  display: block;
  height: 100px;
  width: 400px;
  background-color: #1A0307;
  font-size: 27px;
  font-family: "ta-fuga-fude", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 0 auto 40px auto;
  }

h2 {
  font-size: 27px;
  font-weight: bold;
  color:  #1A0307;
  font-family: serif;
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: normal;
  color: #1A0307;
  font-family: serif;  
  text-align: center;
}


/* header */

header {
  background-color: #1A0307;
  width: 100%;
  height: 100px;  
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 80px;
  width: 80px;
  margin: 10px 0 10px 20px; 
   
}

nav > a {
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  color: #fff;  
  vertical-align: middle;
  margin: 10px;  
}

#reservation-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 25px 10px 25px 10px; 
}

#main-image {
  width: 100%;
}

/* section */

section {
  padding-top: 100px;
}

.contents {
  width: 900px;
  margin: 0 auto
}

/* menu */

#menu-contents {
  display: flex;
}

.menu-item {
  width: 380px;
  margin:0 10px;
}

.menu-item > img {
  vertical-align: bottom;
}

.menu-text {
  background-color: #bc193478;
}

.menu-text > p {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.menu-text > h2 {
  padding-bottom: 20px;
}

#menu-btn {
  display: block;
  text-decoration: none;
  font-size: 27px;
  font-family: serif;
  font-weight: bold;
  color: #fff;
  width: 400px;
  height: 80px;
  border-radius: 10px;
  background-color: #BC1933;
  text-align: center;
  line-height: 80px;
  margin: 30px auto;
  
}

/* location */

#location-contents {
  display: flex;
}

.location-item {
  width: 280px;  
  margin: 0 10px;
}

.location-text > p {
  text-align: center;
}

iframe {
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

/* recruit */

#recruit {
  padding-bottom: 100px;
}

#recruit-contents {
  display: flex;
}

#recruit-contents > img {
  width: 40%;
}

#recruit-table {
  margin-left: 50px;
  font-size: 20px;
  font-family: serif;
}

.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #CDD6DD;
  width: 100px;
}

.tableheader-first {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #CDD6DD;
  border-top: 1px solid #CDD6DD;
  width: 100px;
}

.cell {
  padding: 30px;
  border-bottom: 1px solid #CDD6DD;
}

.cell-first {
  padding: 30px;
  border-bottom: 1px solid #CDD6DD;
  border-top: 1px solid #CDD6DD;
}

/* footer */

footer {  
  background-color: #1A0307;
  width: 100%; 
}

#footer-contents {  
  display: flex;
  justify-content: space-between;
}

#contents-right {  
  display: flex;
  justify-content: space-between;
}

#contents-right > div {
  margin-right: 20px;
}

#contents-right > div > a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  color: #fff;  
  margin: 10px;  
}

#footer-btn {
  display: block;
  margin: 20px; 
}

footer > p {
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  font-family: serif;  
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 20px;
}

/* menu page */

.menu-detail > p {
  text-align: left;
  margin-left: 10px;
}

.menu-price > p {
  text-align: right;
  margin-right: 50px;
}

.alacarte-contents {
  display: flex;
  padding-bottom: 50px;
}

.alacarte-item {
  width: 280px;
  margin: 10px 10px 30px 10px;
}

.alacarte-text > p {
  text-align: center;
  margin: 0;
}

/* location page */

#location {
  padding: 100px 20px 50px 20px;
}

#location-detail {
  margin-bottom: 100px;
}

#location-detail > h2,p {
  text-align: left;
}

#location > h2 {
  text-align: left;
}

#location-information {
  display: flex;
}

#location-table {
  font-size: 20px;
  font-family: serif;
  width: 45%;
  margin-bottom: 100px;
}

#location-table > tr > .tableheader {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #CDD6DD;
}

#location-table > tr > .tableheader-first {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #CDD6DD;
  border-top: 1px solid #CDD6DD;
}

#location-table > tr > .cell {
  padding: 30px;
  border-bottom: 1px solid #CDD6DD;
}

#location-table > tr > .cell-first {
  padding: 30px;
  border-bottom: 1px solid #CDD6DD;
  border-top: 1px solid #CDD6DD;
}

#location-map {
  width: 45%;
  height: 550px;
  margin: 0 20px;
}


/* contact page*/

#contact > p {
  text-align: center;
}

form {
  width: 700px;
  margin: 0 auto;
}

form > div {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.contact-heading {
  width: 300px;
  font-size: 20px;
  font-family: serif;
}

.contact-label {
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}

.contact-span {
  color: red;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  margin-left: 20px;
}

.contact-textbox {
  border: 1px #CDD6DD solid;
  width: 400px;
  height: 60px;
}

.contact-textarea {
  border: 1px #CDD6DD solid;
  width: 400px;
  height: 200px;
}

#submit-btn {
  display: block;
  margin: 10px auto 50px auto;
  
}
